.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card h5{
    color: #136339;
    font-size: 40px;
    font-weight: 600;
}
.card p{
    color: gray;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.color-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.card-2{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}
.card-2 h4{
    font-size: 25px;
    font-weight: bold;

}