*{
  margin: 0;
  padding: 0;
}
body{
  background-color: whitesmoke;
}
.screen{
  display: flex;
 margin-top: 60px;
 
  flex-direction: column;
}
.dashboard-text{
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
  color: #136339;
  top: 40px;
  left: 10px;
  position: relative;
}
.card{
  width: 100%;
  margin: 10px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(49, 146, 40, 0.2), 0 6px 20px 0 rgba(61, 223, 56, 0.19);
}
.post-bob-btn{
  padding: 10px;
  border: none;
  background-color: #0ECC5E;
  color: #FFF;
  border-radius: 20px;
  width: 150px;
  margin-top: 30px;
  margin-right: 50px;
  font-weight: bold;
}
.bell-icon{
  margin-top: 30px;
  margin-right: 50px;
}
.profile-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
}
.cover_image{
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0PDQ0PDQ8NDQ0NDQ0NDQ0NDQ8NDQ0NFREWFhURFRUYHSggGBomGxUVITEhJSkvLi4yFx8zRDMsNygtLisBCgoKDQ0OFQ8QFSsZFRkrLSsrLSsrKysrKysrLSsrKysrLS0rLSsrKy0rLSsrKysrKy0rNy0tLSstLSs3LS0rN//AABEIAHABwgMBEQACEQEDEQH/xAAbAAEBAAMBAQEAAAAAAAAAAAABAAIDBQQGB//EADMQAAICAQIEBAUDBAIDAAAAAAABAgMEERIFITGhExVRUwYUQVJxImGRIyQygULRweHw/8QAGgEBAQEBAQEBAAAAAAAAAAAAAAECAwYEBf/EACYRAQABAwQDAAIDAQEAAAAAAAABAgMREhQhURMxUiJBBDJxYUL/2gAMAwEAAhEDEQA/APz58Kx/bj3P2tra6fhbu99DyvH9uPcba18m7vfS8rx/bj3G2tfK7u99DyvH9uPcba18m7vfS8rx/bj3G2tfJu730nwvH9uPcba18m7u/Q8sx/bj3G1tfK7u79DyzH9uPcm2tdG6u/QfDKPbj3G2t9LurvY8tx/bj3JtrXRurv0vLcf249y7a10bq72Hw2j249y7a10u5u/Q8uo9uPcbW18m5u/S8uo9uPcba18m5u/R8uo9uPcba18m5u/S8uo9uPcba18rurvZ8to9uPcm2tdLubnY8to9uPcm2t9LubnY8uo9uPcba30u4udry6j249ybe30m4udh8Oo9uPcu3t9LuLnZ8uo9uPcm2t9N+evteXUe3HuNvb6PPX2vLqPbj3G3tdHnr7Xl1Htx7jb2+jz19ry6j249xt7fR56+x5dR7ce5dvb6PPX2PLqPbj3G2t9L56+15fR9ke421ro89fa8uo9uPck/xrfTVN6vteX0e3HuZ8Fvpry19ry+j249x4LfR5a+15fR7ce48Fv5PLX2PL6Pbj3Hgt/J5a+z5fR7ce48Fv5PLWvL6Pbj3G3t9HlrY+X0/Yu5rb2+l8tS8vp+yPcbe30eWvsrh9H2R7k29vpYuVDy+j7F3Lt7fTXkqXl9H2LuNvb6XXUvL6PsXcbe30a6g+H0/ZHuNva6NdQ+Qp+xdxt7fS66isCj213G3t9LFUny+j7F3G3t9LqleX0fYu429vo1SvL6PsXcbe30apD4fT9i7jb2+l1SPkKfsXcbe30apSwKfsXcbe30sSvkKfsXcz4LfTQ+Qp+xdx4Lfyq+Rp+xdx4LfQvkKfsXceC30o+Rp+xdxt7fQweHTq/0LuTwUdDvn2vLhoKCqgIIgoACKGQYsKgoACqiiAiBTI1EoNBomAEVEAVqJIaiURUBARQMAKqAjGG4qBGkBAQEBABVBVJGolFaAVADQAVWSZMLEoNIIgoaACqSYaiQ0YaiQGkAFGp9WRXZaOzywKBoKCiAgIihlAFDRBi0RUFAAVUUQEQKYaiURoMhAIqAGGokhqEFQEBADACqgIzMNxIMtICAgICAGVQVSiNRIK0gqAGgAKyTDUNjosU1BwmpvRKDi1Jt9OTM6oxnPCt/EOHX484wvrlXKS3RT0e5fs0Sm5FXMEw05GPZW0rYTrbWqVkJQbXrzNRVE+pMS0tFyoKIzMNRKZlrIDSA1S6v8kwOydnlg0UBVDQUFEBAQUNAAwoZkYtBUFAAyqgIoiBRGolBQyKCKgANRJDSCoCAgDQAKqAjMw3FQMtICKIggIAKoKpI1EorQAgpjFarXVRb5vTovq16mZnice1h2uNV4eNkY88C3x1BQtlue+KnGSaT/Pp9DjbmuqJirhqcR6a+N/ENuVkVX7I0zpUdii93NS3atvrzLRZimmY95WasseI8fyb76Lr9m7HcJVw2bYcpKXNfvoi02qKaZiP2Zl7+JcchxHKw1kwWNRXJxm1Pc9JNaty0Wi5L8as502ptUzicy1nI+KeF4scimvh2tspwbnVVJ3bWujT59VqSzcqxM1rMPnbqpwk4zi4Si9JRkmpJ/umfVTVExwywNCRJhqJWhhqAGmqXV/kDsnV5ZADRVBQNBQVUEQEFGgAFBBi0RUFAAaVAQEQKDUIijQigioAYaiSGsoKgICAGAFVBEZmG4kGW0URBAQEAFUFUkaiQytPRiYN12/wa52eHHfPatdsfUzVVFPuViMvZm8andiY+K664wx3rGcU98uTXP06/7OdNqKapqa1ZjDRRi1wlZHM8amSpcqoxh+qVjScE9ekWjUzM/wBeUj/onnOWNXSqql4NkrHeof1Hr9JP0/6RNP5ZmfaulLjmSs2OVkY8J2VUxg65VOuKrae2T66Pn1/c5+OnTpir21EtVKwbcfJnZvjnWWt49Nafh/qa0il001bXP9hPkpmIj+q8S9HDLb+EZalkUa+JTKO1Sjq4trmmuWusdBXFN6nFMkcPVxPhObxHxOIQrrrrlH+nU5/1ZwgtN3TRvl6mKK6bf4TPLWM8vk2j7IZACJhqJDMS1DU1zYV2Wjq8sAqAGiqCgYUFEBAQUMAIoZJGLDSAAAqoogIBTI1CIoaI0CCIArUSQ1CCoCAgAAKIKjMw3TIMtICAgICACqiqiYaiXVrhnYdML4SlTVmRcFKLi3OPo19ProzlOi5Vpn3DfMRlzseNbU/ElKLVbdajHdvs5aRfouvM6TmPRGG3nZrO+dumxxjY4ys3WRj+mvX/AO0JOI4hf9bVk2SVir8PHqtrhVbGL21z2R3LXXV6tx/lmcR++Vy3xsypq1V5MbndXGu2Ln+udUYb9P1roua5PqZ/HjMYXLf4EMt2Tpg6c6Mq1Th0VSUXGKW6xt9H/wCjOqaffNLT11Tx8vHyJ8Qvtln1KVdFf+MkkuSUIrST111M4miqNEfjKxzD1fCPEOIX1TwqZVQhXXLW+yDc6YSbW1JPm9ddNf8AwYv0U0zrWmZ9Pn+PcHswrvCslGesFOE46pSjq10fR6pn02ruuMszDmNHVAVSiTDUS1S6s54adk7S8sGgoCoAaKoKAKCiAgIKAAiggxaCoKAAqoogIBRGoRFDIoIqANBlrJDSCoCAgBgBVQEZmG4kGWkBAQEBMqx7fXr4VqsuwZU7/lL6PHulKWrgopOS1+muqX8nx7iYiqJ9vo8ccdMZ/C1VMuITyN7x8evxMdxlt8Tcm4rX6+hYvzOmI9njiMy128IreLwdyndJZNsYTg7G4QjJ89i/4li5MTWY4h7LOCcIryXhTlk+PNrbZqlGDlzjHpp006oxF27Ma/01ppzh5uG/DlblxCnLstUMGUbE63pFxabctvq4pGq71X4zT7kij3n9MMbhmBl2zsqd9WFiUKV7slrZJ89Ix110WiFVdyiMT/aSIiWGXwrAvxbsjh7uhPF0lbVa9dYfcvTo/wCBFyuKtNcezEYzDVTfP+yzU7VZK54+TOpT8S16rm5vlua5aL0NTH9qJ9HUupgUzxuNSjj40mrKZNQvsSkovRys3c/qtP8AZzqmKrOZn01H9mGFXxCHGbo1xppsvTssi9bKPB+j5aNvX8c2yVTRNqM84Izl5fj3h+XC2u/IsrtjYvDg64OuNemr27W3+711On8WqmY0xwVQ+VPrYDQUBWuT5si5l2jq8yCSBoigKgBoqgoGFBRAQEFDQARQwMWRUFAAVUUQEQKYaiURQ0RQRUABqJkhpBUBAQBoAFVARmYbpkGWkBAQEB9BV8RuHC5Ycdysc5R3fRUSe5rX111X4ZwmzE3df6doufjhZvxG7eGVYkt3ixmozl9JUx5x5+uui/0KbMRc1fpZuZpw9OPxeq2HBseCmrMbIr8RyS2/5Lo9eZmbc066p9LFUcQ7HHMzhdHEJ3XRyJ5VWxqMdHU5bVta5+hxt03aqMR6dKppic/tx8T4gW3id18LF88nVU4R3VxmoSSg239E0dptT+MR+mIr9uf8O8Vjiu2GRW7MbKqUbYLTdt56SX8vkbu0a8TTPMFM4ezK4tg04t2Pw6FzllaRttu6qH2r/Wv8s5xbrmqKrn6azHqGunEk5YeFGM52V2vIyoVNwsg9VrHVva2lppJepqf/AFUf8dHh9yyeNSlVkXUquuSjK7SVj26KVekvpq2+foc5jTaxj2sTmocOWdbxm+VN1dsqNYWWzWlTp6KG2P7+n1TFeiLUZhYzl5fj3Ly3fCnJVcYQj4lSqcnGevLc9eevJrQ3/Fpp06oK5nL5Y+tlBA0FaZdX+SK7h1eZAUEkDRFAVADRVBQNBQUQEBBQABQzIxaCoKAAqoogIBTI1EoijQigioADUSQ0gqAgIAYAVUBGZhuKgZaQEBAQEMjocDwsmy3fiwU542256uKS0eq6ta9Ohi5VTEYq/bpREzOYGbxP5i267IrjOy2vbHbJ1xrmtEpafXkujFNGmIxOGs5lplXKmThkVS1cG41zlKG2Uo/ps5dTWdXMHr22rHnFWumcL6aq4W2tpKEZTjt/xnzbTk1qvTUmY4zwv+PT4GbBXbaYY7pqhba0oQsVUobOrerTXPRfUx+P+ryyd1WNvqxZePkTlU6c6mc65Q1S3Vpdv9/sSaZqnM8RC5x/r3bKcLGvo4hit5dylOm39FnJrRfrT1i09ddDnzcqzTPENZ0xy9XwlwnPppebjyp/qVv+3s1fiwTf1X+L5cjN+uiqdErTE+3zfGuL25l3i3bU1FQjGPKMIp66L/bZ9Vu3FEYhmZy8B0VAQGqXV/kyO2dnmgABQSYA0RcgKgBouVBQBQUQEBBQ0AEUaEVi0BBQAFVFEBAKZGolEaDRAEVAAaiSGkFQEBADACqgIzMN0yDLSAiiAiDbRk2V7nXOde6LjLZJx3R9HoSaaZ9wsTMPdncHVWHj5PjVz8d6eFH/AChyb9fppozFNzVVNOOHSacRE5efFyKtbHkwsvbplCt+I04Wctsm/ql6GqqZ408JE9qeHBY9VqvrlZZZKuWP0nWl0lL9v+xqnOMNY4y6L4E1mwxsnKqgp1Kx3b90UtHpDVtc+Rz8n45ilrHPtqqvwqsfKqlB25Stfy+VB/pST5ST15dG/wB9RMV1TE+oWJiOHo4Jj2cVy1DKyJvZTKW79O9xTS2x5af8tSXKotU5phafynlv4vxHL4fK3Apv30RitsnGPiwjNauGv06v+foZt0U3MVzHKzM08PlT62GSYWJQaIRpl1f5I07Z1eZQAwAKCAaIoCoAaLlQUDCgogICCjQAChmcDFoKgoACqiiAiBTDUSiKNCKCKgANRKQaIVAQEAMAKqAjMw3FQMtICAgIBhomm1qtVqumq9CzzE4az6dnjOVi5eRjxxaY4qeyqTajGO6UktXp9F6/U40RVRFU1Tl0qmKpiIHHfh+WNk048LI3SuUNr27GpSltSa1enP6i3d1UzMxjC1UYmIhjxP4duxr6KbZV/wBw4qNkW3BayUXrr6aii9TVEzEeiaZiXu4vwarhuVhysl8zVKTnODioy0i1ry15rn2MUXKrtMxjEtTTFM5avizjOPffTZhqVbrg1K1LwpSbfLp6c/5LZtVRGK+SqqP0+fnJybcm5Sb1bbbbfq2fRERHplg0UCKMkyNRKCtUur/JGnbOrzKAgAACgmANEUBUANFUFA0FBRAQAFQAFDIMWRpAAAVUUQEQIaygoaMyoIqAGGokhqJQVAQEAaABVQEZmG4kGWkBAQEBBTuaaer1WjT1eqa6cxiPSxP7bc3NuvkpX2TtkltTnLVqPoKaIp9Qs1TLXOyUuc5Sk9NNZScnp6cxiI9LnPtgytQCqgBoAKQyTI3DVLq/yZV3Wjq8zliVUBADAGFBJgDRFAVADRQFUNBQBFEFRANFAFGhlWLQVAAAVUBFEApkWJRGhoRQRUQBWokhpBUBAQA0AFVARmYbiQZaQEBAQEAMqgqkjUSmitZAEFDRQBWtvmzCu8dHmk0VWJVQEAAAUEwoaIAKgBoqgoNAAqoioIiqGABQZGLQVBQANFVFEBAKZGoRFDRMKCKgBhqJIaygqAgIAACqgiMzDpEgy0gIoiCAgAqgqlEWJDLDeUFQA0Bpl1f5JlX/2Q==');
  /* background-position: center;
  background-size: cover; */
}
img.profile-round-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 100px;
  position: relative;
  top: -70px;
}

.profile-screen{
  background-color: white;
}
.company_name{
  font-family: sans-serif;
  color: #111;
  font-size: 24px;
  left: 70px;
  position: relative;
  font-weight: 600;
  top: -50px;
}